/*
header
==================================
*/
@media screen and (max-width: 1200px) {
  .nav-list__item {
    float: none;
    display: inline-block;
  }

  .info {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list__item {
    margin-right: 0;
    display: block;
    border-bottom: 1px solid #282828;
  }

  .nav-list__link {
    padding: 15px 0;
  }

  .contact-icons,
  .info {
    margin-left: auto;
  }

  .info {
    margin-right: calc(35px + 25px);
  }
}

@media screen and (max-width: 650px) {
  .header-content {
    display: block;
  }

  .logo {
    max-width: 170px;
  }

  .contact-icons {
    justify-content: center;
    margin: 20px 0 15px 0;
  }

  .info {
    text-align: center;
    margin: 0;
  }
}

/*
hamburger-menu
=============================
*/
@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }

  .hamburger-menu {
    top: calc(15px + 35px / 3);
  }
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    position: absolute;
    top: 30px;
    right: 15px;
  }
}

/*
online-order item
==================================
*/

@media screen and (max-width: 992px) {
  .section-online-order {
    padding-top: 55px;
  }

  .tile-produt__item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 650px) {
  .tile-produt__item {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .tile-produt__item {
    width: 100%;
  }
}

/*
hero
=============================
*/
@media screen and (max-width: 650px) {
  .hero {
    display: none;
  }
}

/*
section title
=============================
*/
@media screen and (max-width: 650px) {
  .section-title {
    font-size: 37px;
    line-height: 1.15;
  }

  .subtitle {
    font-size: 16px;
    line-height: 1.4;
  }
}

/*
news item
==================================
*/
@media screen and (max-width: 992px) {
  .news-post:first-child {
    margin-right: 0;
  }

  .col-width,
  .ui-width {
    width: 100%;
  }

  .news-post__promo {
    width: 45%;
    float: left;
  }

  .publication-date {
    margin-top: 0;
  }

  .news-post:first-child .publication-date {
    margin-left: 30px;
    margin-top: 0;
  }

  .news-post:first-child .news-post__content {
    margin-left: 30px;
  }

  .news-post__content {
    width: calc(55% - 30px);
    margin-left: 30px;
  }

}

@media screen and (max-width: 650px) {
  .section-news {
    padding: 75px 0 35px 0;
  }

  .wrapper-news {
    margin-top: 35px;
  }

  .news-post__promo {
    width: 100%;
    float: none;
  }

  .news-post:first-child .publication-date {
    margin-left: 0;
    margin-top: 20px;
  }

  .news-post:first-child .news-post__content {
    margin-left: 0;
  }

  .publication-date {
    margin-left: 0;
    margin-top: 20px;
  }

  .news-post__content {
    width: 100%;
    margin-left: 0;
  }

  br {
    display: none;
  }
}

/*
footer
==================================
*/
@media screen and (max-width: 767px) {
  .footer-content {
    flex-wrap: wrap;
  }

  .foo-phones {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .foo-contact {
    margin-top: 20px;
  }

  .contact-icons {
    margin-left: 0;
  }

  .foo-tel {
    line-height: 1.6;
  }
}
